<html>
  <head>
    <!-- lionking the style.css to about.html -->
    <link href = "../static/style.css" rel = "stylesheet">
    TAWK about us!
  </head>
  <body>
    <!-- the navigation bar goes here -->
    <!-- a summary of who we are, and how to contact us-->
      Heya, we're team AWE S.U.M. and we're bringing to you our
      website, the first of its kind made specifically for awkward
      people like you and us!
      <h2>Email us at: <a href= "mailto:random@gmail.com" >  random@gmail.com</a> <h2>
  </body>
</html>
