<html>
  <head>
    <link href = "../static/style.css" rel = "stylesheet">
  </head>
  <body>
  <!-- the navigation bar goes here -->
  <div class="container">
    <nav class="menu">
      <ul class="active">
          <li><a href = "../">Home </a>
          <li><a href="#">Advice</a>
            <ul class="sub-menu">
              <li class="current-item"><a href="/">Get Advice</a></li>
              <li><a href="#">Give Advice</a>
            </ul>
          </li>
          <li><a href="#">About Us</a></li>
      </ul>

      <a class="toggle-nav" href="#">&#9776;</a>
    </nav>
    <div class="header">
      <h1> Advice </h1>
    </div>
  </div>

    <h1>It's not awkward unless you make it awkward!</h1>
    

  </body>
</html>
