<!DOCTYPE html>
<html>
  <head>
    <link href = "../static/style.css" rel = "stylesheet">
  </head>
    <body>
      <nav class="menu"> <!--the class is menu -->
      <ul class="active"> <!--the menu is currently active, or visible -->
        <li><a href="/">Home</a></li>
        <li><a href="/">My Profile</a></li>
        <li><a href="/">Go Tawk</a></li>
        <li class="current-item"><a href="/">FAWK</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

      <a class="toggle-nav" href="#">&#9776;</a>
      </form>
      </nav>
      <h1> FAWK</h1>

<!-- This section incorporates posting a 'fawk' -->
      <section class="new_fawk">
        <form method="POST" action="">
            <p><textarea name="content" rows = "8" placeholder="Your FAWK moment here:" ></textarea></p>
            <p></p>
            <input type="submit" />
        </form>

      </section>

<!-- This section makes it so that each post is posted... -->
      <h3>Posts</h3>

      <section class="fawk_posts">
        {% for post in posts %}
        <p>{{post.content}}</p>
        {% endfor %}

      </section>


    </body>
</html>
