<!DOCTYPE html>
<html>
  <head>
    <!--  linking to sytlesheet-->
    <link href = "../static/style.css" rel = "stylesheet">
  </head>
  <body>
    <!--  title of page, main title-->
    <h1> Give Advice</h1>
    <h3>TAWK about it</h3>
    <!--  the form to submit a piece of advice to the database - has title, content, and category-->
    <form>
      <input name = "title" type = "text"/>
      <textarea name = "content" rows = "10"></textarea>
      <input name = "category" type = "text"/>
  </body>
</html>
