<html>
  <head>
    <title> TAWK the tawk</title>
    <link href = "../static/style.css" rel = "stylesheet"> <!-- This links the css page to this html page -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1> TAWK </h1>
      </div>
    </div>
    <nav class="menu">
      <ul class="active">
          <li><a href="/" id=nav-tawk>TAWK</a></li>
          <li><a href="#">Advice</a>
            <ul class="sub-menu">
              <li><a href="/advice">Get Advice</a>
              <li><a href="/giveadvice">Give Advice</a>
            </ul>
          </li>
          <li><a href="/about">About Us</a></li>
      </ul>

      <a class="toggle-nav" href="#">&#9776;</a>
    </nav>

    <h4><a href = "/advice">Get Advice</h4>
    <h4><a href = "/giveadvice">Give Advice</h4>

    <!-- Link to local JavaScript file-->
    <script src="../static/main.js"></script>
  </body>
</html>
