<!DOCTYPE html>
<html>
  <head>
    <link href = "../static/style.css" rel = "stylesheet">
  </head>
  <body>
    <nav class="menu"> <!--the class is menu -->
    <ul class="active"> <!--the menu is currently active, or visible -->
        <li class="current-item"><a href="#">Home</a></li> <!--all the options under the drop menu -->
        <li><a href="#">My profile</a></li>
        <li><a href="#">Advice</a></li>
        <li><a href="/fawk">FAWK</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <a class="toggle-nav" href="#">&#9776;</a>

    </nav>
    <h1> Username </h1> <!-- import a photo next to it -->
    <h3> FAWKS </h3>
  </body>
</html>
