@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

/* APPLIES TO EVERYTHING WITHIN THE BODY TAGS */
body {
  font-family: "Fjalla One", sans-serif;
}

/* These are the two buttons on the home page~ */
h2 {
  color:#fff;
}
  #FAWK {
    position:absolute;
    right:15px;
    bottom:0px;
  }

  #TAWK {
    position:absolute;
    left:15px;
    bottom:0px;
  }

/* HEADER SECTION */
.header {
  position:absolute;
  text-align:center;
  width:100%;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size:150px;
}

/* PHOTO BEHIND "TAWK" */
.container {
  background-image: url("https://findingdelightdotcom.files.wordpress.com/2014/03/toast.jpg");
  background-size:cover;
  position:relative;
  height:100vh;
}

/* NAVIGATION!!! */
  nav.menu {
    position:absolute;
    top:15;
    right:15;
    z-index: 1;
  }

  /*----- Toggle Button -----*/
  .toggle-nav {
      display:none;
  }

  /*----- Responsive -----*/
  @media screen and (min-width: 0px) {
      .wrap {
          width:90%;
      }
  }

  @media screen and (min-width: 0px) {
      .menu {
          position:relative;
          display:inline-block;
      }

      .menu ul.active {
          display:none;
      }

      .menu ul {
          width:110%;
          position:absolute;
          top:120%;
          right:10px;
          padding:10px 18px;
          box-shadow:0px 1px 1px rgba(0,0,0,0.15);
          border-radius:3px;
          background:#fff;
      }

      .menu ul:after {
          width:0px;
          height:0px;
          position:absolute;
          top:0%;
          right:22px;
          content:'';
          transform:translate(0%, -100%);
          border-left:7px solid transparent;
          border-right:7px solid transparent;
          border-bottom:7px solid #303030;
      }

      .menu li {
          margin:5px 0px 5px 0px;
          float:none;
          display:block;
      }

      /* LINKS in the NAV */
      .menu a {
          text-align: justify;
          display:block;
          color:#505050;
          font-family: "Fjalla One", sans-serif;
          font-size: 18px;
          text-decoration: none;
          transition:color linear 0.15s;
      }

      .menu a:hover {
          color: #eee;
      }
      /* LINKS AFTER HOVER */

      .toggle-nav {
          padding:20px;
          float:left;
          display:inline-block;
          box-shadow:0px 1px 1px rgba(0,0,0,0.15);
          border-radius:3px;
          background:#fff;
          /*text-shadow:0px 1px 0px rgba(0,0,0,0.5);*/
          color:#eee;
          font-size:20px;
          transition:color linear 0.15s;
          text-decoration: none;
      }

      .toggle-nav:hover, /*.toggle-nav.active*/ {
          text-decoration:none;
          color:#eee;
      }

  }
